@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 270 56% 98%;
    --foreground: 270 52% 4%;
    --muted: 270 9% 85%;
    --muted-foreground: 270 11% 35%;
    --popover: 270 56% 98%;
    --popover-foreground: 270 52% 4%;
    --card: 270 56% 97%;
    --card-foreground: 270 52% 3%;
    --border: 270 9% 93%;
    --input: 270 9% 93%;
    --primary: 270 74% 19%;
    --primary-foreground: 270 74% 79%;
    --secondary: 270 7% 80%;
    --secondary-foreground: 270 7% 20%;
    --accent: 270 16% 71%;
    --accent-foreground: 270 16% 11%;
    --destructive: 5 89% 20%;
    --destructive-foreground: 5 89% 80%;
    --ring: 270 74% 19%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 28% 7%;
    --foreground: 47 7% 73%;
    --muted: 222 12% 15%;
    --muted-foreground: 222 12% 65%;
    --popover: 222 28% 4%;
    --popover-foreground: 47 7% 83%;
    --card: 222 28% 5%;
    --card-foreground: 47 7% 78%;
    --border: 222 18% 12%;
    --input: 222 18% 15%;
    --primary: 256 77% 69%;
    --primary-foreground: 0 0% 0%;
    --secondary: 256 7% 18%;
    --secondary-foreground: 256 7% 78%;
    --accent: 256 15% 25%;
    --accent-foreground: 256 15% 85%;
    --destructive: 17 96% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 256 77% 69%;
  }
}

@layer base {
  * {
    @apply border-border outline-offset-0 selection:bg-accent;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}
